nbproject
._*
.vagrant
.~lock.*
.buildpath
.DS_Store
.idea
*.local.php
.project
.settings
bootstrap.php
composer.phar
public/fonts/*
public/img/*
public/inventory/*
public/recipes/*
public/shoppinglist/*
public/upload/*
vendor
